.header-logo {
    background: red;
    height: 70px;
    color: #fff;
    margin-bottom: 20px;
}
.header-logo h1{
    text-align: center;
    line-height: 70px;
}
.carousel-inner img{
    width: 100%;
    height: 600px;
}